doctype html
html
  head
    title تأكيد الحجز
  body
    h1 تم الدفع بنجاح!
    p تفاصيل الحجز:
    ul
      li معرف الجولة: #{tourId}
      li معرف المستخدم: #{user}
      li السعر المدفوع: #{price} دولار
